<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>strurlpathsearch</key>
	<string>http://search.crintsoft.com/searchlyrics.htm</string>
	<key>strurldownload</key>
	<string>http://www.viewlyrics.com/</string>
	<key>APIVersion</key>
	<integer>5</integer>
</dict>
</plist>
